<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add
      name="CitaTallerAzureSQL"
      providerName="System.Data.SqlClient"
      connectionString="Server=tcp:kmrsha0ybe.database.windows.net,1433;Database=citataller;User ID=webapi@kmrsha0ybe;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
    />
  </connectionStrings>
</configuration>