

/*
icon-hora {
  margin: auto;
  background-repeat: no-repeat no-repeat;
  display: inline-block;
  vertical-align: middle;
  fill: currentcolor;
  height: 3 * $baseline-grid;
  width: 3 * $baseline-grid;
  line-height: 3 * $baseline-grid;
}
*/

// Icon spinners
.md-spin {
  animation: md-spin 1.5s infinite linear;
}

.md-spin-reverse {
  animation: md-spin-reverse 1.5s infinite linear;
}

// Spin
@keyframes md-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

// Spin Reverse
@keyframes md-spin-reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-359deg);
  }
}

// Styles
$icon-size: rem(2.4);

icon-hora {
  margin: auto;
  background-repeat: no-repeat no-repeat;
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  height: $icon-size;
  width: $icon-size;

  cursor: pointer;

  svg {
    pointer-events: none;
  }

  &[md-font-icon] {
    line-height: 1;
    width: auto;
  }
}

//THEME
icon-hora.md-#{$theme-name}-theme {
  

  &.hora-off {
    color: color($foreground, '2');
  }

  &.hora-on {
    color: rgba(color($accent), 0.87);
  }

  &.md-primary {
    color: color($primary);
  }

  &.md-accent {
    color: color($accent);
  }

  &.md-warn {
    color: color($warn);
  }
}



// Icon sizes
.md-lg {
    font-size: 1.5em;
}

.md-sm {
    font-size: 1em;
}

.md-2x {
    font-size: 2em;
}

.md-3x {
    font-size: 3em;
}

.md-4x {
    font-size: 4em;
}

.md-5x {
    font-size: 5em;
}


