{{#paper-list}}
{{#each model as |taller|}}
        {{#paper-item class="md-3-line"}}
        {{paper-icon icon="place"}}
        <div class="md-list-item-text">
            {{taller.descripcion}}
            <p>{{taller.direccion}}</p>          
         </div>
         {{paper-switch class="md-secondary" checked=wifiEnabled}}   
    {{/paper-item}}

{{/each}}
{{/paper-list}}

