{{#paper-list}}
    <div layout-sm="column" layout-gt-lg="row">
    {{#each model as |job|}}
        {{#paper-item param=job }}           
            {{#paper-switch  checked=job.selected }}{{/paper-switch}}
            {{job.descripcion}}                   
        {{/paper-item}}
    {{/each}}
	</div>
{{/paper-list}}
