{{#paper-list}}
    <div layout-sm="column" layout-gt-lg="row">
    {{#each model as |job|}}
        {{#paper-item  param=job action="toggleJob"}}    
            {{#paper-switch checked=model.vehiculoCortesia checked=job.selected value=job param=job action="toggleJob"}}
                 {{job.descripcion}}
            {{/paper-switch}}
        {{/paper-item}}
    {{/each}}
	</div>
{{/paper-list}}
