<table role="grid" tabindex="0" class="md-calendar" >    
    <tbody role="rowgroup"   class="md-calendar-month "  md-item-size="265">
         <tr role="row">
             <td tabindex="-1" class="md-calendar-date" role="gridcell">
                 <span style="font-size:12px">                     
                 </span>
             </td>
         </tr>
        {{select-hora model=fecha.listHead toggleDay="toggleDay"}}
         {{#each model as |fecha|}}
            <tr role="row" >
            <td tabindex="-1" class="md-calendar-date" role="gridcell" >                       
                 <span style="font-size:12px">                    
                    {{fecha.fechaDisplay}}                    
                </span>             
            </td>
            {{select-hora model=fecha.listHora toggleHora="toggleHora"}}
        </tr>
        {{/each}}
    </tbody>
</table>

