{{#each model as |horaminuto|}}
    <td tabindex="-1" class="md-calendar-date" role="gridcell" >
        <span class="md-calendar-date-selection-indicator">
            
            
            {{icon-hora iconOff="access-time" iconOn="check-circle" checked=horaminuto.selected param=horaminuto action="toggleHora"}}
            
           
        </span>
    </td>
{{/each}}

    