<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <system.web>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Detailed"/>
  </system.webServer>

  <!-- Path API donde localizar la WebAPI... -->
  <location path="api">
    <system.web>
      <httpHandlers>
        <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*"/>
      </httpHandlers>
    </system.web>

    <!-- Required for IIS 7.0 -->
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true"/>
      <validation validateIntegratedModeConfiguration="false"/>
      <handlers>
        <add allowPathInfo="true" name="ServiceStack.Factory" path="*" preCondition="integratedMode" resourceType="Unspecified" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*"/>
      </handlers>
    </system.webServer>
  </location>

  <!-- Required for MONO -->
  <system.web>
    <httpHandlers>
      <add path="api*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*"/>
    </httpHandlers>
  </system.web>

  <!-- Required for IIS7 -->
  <system.webServer>
    <!-- ServiceStack: Required -->
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>

  <!-- Conexiones a la base de datos -->
  <connectionStrings>
    <add connectionString="This is secret. Stored as a WebSite azure parameter" name="CitaTallerAzureSQL" providerName="System.Data.SqlClient"/>
    <add connectionString="This is secret. Stored as a WebSite azure parameter" name="CitaTallerAzureStorage" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <log4net debug="true">
    <appender name="AzureTableAppender" type="log4net.Appender.AzureTableAppender, log4net.Appender.Azure">
      <param name="TableName" value="wawsapplogtablecitataller1"/>
      <param name="ConnectionStringName" value="CitaTallerAzureStorage"/>
      <param name="PropAsColumn" value="true"/>
      <param name="PartitionKeyType" value="LoggerName"/>
      <bufferSize value="1"/>  
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="AzureTableAppender"/>
    </root>
  </log4net>

</configuration>
